@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

html,
body {
  margin: 1rem 1rem;
  padding: 0;
  box-sizing: border-box;
  background: rgb(17, 17, 17);
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin: .5rem 2rem;
  font-family: 'Bebas Neue', cursive;
}

.nav-link {
  display: flex;
}


.logo > a {
  color: #3c67e3;
  font-size: 2rem;
}

.icons a {
    color: #3c67e3;
    text-decoration: none;
    transition: 0.5s;
}

.icons a:hover {
    color: #fff;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  animation: pulsate 1s ease-in-out;
  color: #3c67e3;
  transition: 1s;
}

/* Quote */

.container {
  display: flex;
}

.quote {
  display: flex;
  justify-content: center;
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-family: 'Bebas Neue', cursive;
}


/* Name */
.name-container {
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 20vh;
  padding: 2rem 2rem;
  flex-grow: 1;
  border: 1px #3c67e3 solid;
  -webkit-font-smoothing: antialiased;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  padding-bottom: 7rem;
  line-height: 1px;
}


.name {
  text-align: left;
  font-size: 2vh;
  font-family: 'Bebas Neue', cursive;  
  letter-spacing: 3px; 
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
}

.name-wrapper h5 {
  font-size: 1rem;
}

.frontend {
  color: white;
}

button {
  height: fit-content;
  width: fit-content;
  background: transparent;
  color: #fff;
  border: 1px solid #3c67e3;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: 'Bebas Neue', cursive;
}

.contact-button {
  text-decoration: none;
  color: #fff;
}

button:hover {
  animation: pulsate 1s ease-in-out;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.portfolio,
.contact-me {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
}

.portfolio > h4 {
  font-size: 1rem;
}
.contact-me > h4 {
  font-size: 12px;
}

/* Icons */
.fab,
.fa {
  display: inline-block;
  border: 2px solid #fff;
  padding: 5px 8px;
  border-radius: 5px;
}

.fa:hover {
  background-color: #3c67e3;
  transition: 0.5s;
  cursor: pointer;
}

.fab:hover {
  background-color: #3c67e3;
  transition: 0.5s;
  cursor: pointer;
}

.far {
  color: #fff;
}

/* Contact */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}
.contact {
  text-align: center;
  padding: 1rem;
  font-family: 'Bebas Neue', cursive;  
  color: #fff;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
}
.contact-info {
  text-align: center;
  align-items: center;
}

.saying {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
}

/* Portfolio & Home Button */
.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
}

.left-arrow {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.right-arrow {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  float: right;
}

.contact-me {
  display: inline-block;
}

.left-arrow a {
  text-decoration: none;
  color: rgb(220, 216, 226);
}

/* footer */

footer {
  font-family: 'Bebas Neue', cursive;
}

footer p {
  color: #3c67e3;
}
.my-name {
  text-decoration: none;
  color: white;
  font-family: 'Bebas Neue', cursive;
}



@media screen and (max-width: 480px) {
  nav {
    margin: 1rem 1rem;
  }
}

/* For iphone: */
@media screen and (max-width: 320px) {
  nav {
    margin: 1rem 1rem;
  }
}
