@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15);
}

a {
    margin: auto;
    text-decoration: none;
}


/* Name */
.name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding-top: 6rem; 
    padding-left: 2rem;
    font-family: 'Monument Extended';
    font-size: 2rem;
    color: #fff;
}

.name-wrapper h1 {
    text-align: center;
}
.name-wrapper h5 {
    text-align: justify;
    font-size: 14px;
}

.frontend {
    color: rgb(98, 0, 255);
}

button {
    height: fit-content;
    width: fit-content;
    background: transparent;
    color: rgb(249, 56, 172);
    border: 1px solid rgb(249, 56, 172);
    border-radius: 5px;
    padding: 15px 20px;
    font-family: 'Monument Extended';

}

button:hover {
    color: #fff;
    background-color: rgb(249, 56, 172);
    cursor: pointer;
}

.name {
    color: rgb(98, 0, 255);
    font-size: 3rem;
    font-family: 'Monument Extended';
}

.right-arrow {
    float: right;
    padding: 0rem 3rem;
}

.portfolio, 
.contact-me {
    display: inline-block;
    font-family: 'Monument Extended';
    color: #fff;
}

.portfolio > h4 {
    font-size: 12px;
}
.contact-me > h4 {
    font-size: 12px;
}
/* Icons */
#icon {
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px 8px;
    border-radius: 5px;
}



/* About Me */
.container-aboutme {
    flex-direction: row;
    justify-content: center;
    background: #fff;
}

.emphasis {
    color: rgb(98, 0, 255);
    font-family: 'Monument Extended';
    font-size: 1.6rem;
    transition: transform 0.1s linear;
}

.about-me{
    padding: 2rem 15rem;
}

.about-me h2{
    text-align: center;
    padding-bottom: 1rem;
}

.about-me p{
    text-align: justify;
    line-height: 1.5rem;
    word-spacing: .2px;
}

.tech {
    text-align: center;
    padding: 1rem;
}

.skill-container {
    background: rgb(98, 0, 255);
    padding: 2rem;
}

.skills {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.skill:hover {
    background-color: rgb(98, 0, 255);
}

 h1{
    padding-bottom: 2rem;
    text-align: center;
}

.skill {
    display: flex;
    justify-content: space-around;
}

/* Contact */
.contact {
    text-align: center;
    padding: 3rem;
    height: 20vh;
    font-family: 'Monument Extended';
    color: #fff;

}
.contact-info {
    text-align: center;
    align-items: center;
}

.saying {
    text-align: center;
    font-family: 'Monument Extended';
    color: #fff;
    height: 30vh;
}



/* Portfolio & Home Button */
.arrows {
    display: flex;
    justify-content: space-between;
    font-family: 'Monument Extended';
    color: rgb(98, 0, 255);
}
.left-arrow {
    float: left;
    padding: 0rem 3rem;
}

.right-arrow {
    float: right;
    padding: 0rem 3rem;
}

.contact-me {
    display: inline-block;
}

.left-arrow a {
    text-decoration: none;
    color: rgb(220, 216, 226);
}













@media(min-width: 900px) {
    nav {
          display: flex;
          justify-content: space-around;
    }
}

@media(max-width: 900px) {
    nav {
          top: 30%;
    }

    .hover-this {
          width: 100%;
          padding: 20px 0;
          display: inline-block;
    }
}