@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans:wght@300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: rgb(22, 22, 22);
}

/* Nav */
nav {
  position: sticky;
  top: 0;
  background-color: rgba(128, 126, 126, 0.317);
  backdrop-filter: blur(5px);
  border: 5px solid;
  border-radius: 15px;
  margin: 1rem 1rem;
  font-family: "Monument Extended";
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 12px;
  padding: 1rem 1rem;
}

.icons a {
    color: #3c67e3;
    text-decoration: none;
    transition: 0.5s;
}

.icons a:hover {
    color: #fff;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 450;
}

nav a:hover {
  animation: pulsate 1s ease-in-out;
  color: rgb(63, 34, 142);
  transition: 1s;
}

/* Name */
.name-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
  flex-grow: 1;
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monument Extended";
  color: #fff;
}

.name-wrapper h1 {
  text-align: center;
}
.name-wrapper h5 {
  font-size: 14px;
}

.frontend {
  color: white;
}

button {
  height: fit-content;
  width: fit-content;
  background: transparent;
  color: #fff;
  border: 1px solid #3c67e3;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: "Monument Extended";
}

button:hover {
  animation: pulsate 1s ease-in-out;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.name {
  text-align: center;
  color: white;
  font-family: "Monument Extended";
}

.portfolio,
.contact-me {
  display: inline-block;
  font-family: "Monument Extended";
  color: #fff;
}

.portfolio > h4 {
  font-size: 12px;
}
.contact-me > h4 {
  font-size: 12px;
}

/* Icons */
.fab,
.fa {
  display: inline-block;
  border: 2px solid #fff;
  padding: 5px 8px;
  border-radius: 5px;
}

.fa:hover {
  background-color: #3c67e3;
  transition: 0.5s;
  cursor: pointer;
}

.fab:hover {
  background-color: #3c67e3;
  transition: 0.5s;
  cursor: pointer;
}

.far {
  color: #fff;
}

/* Contact */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}
.contact {
  text-align: center;
  padding: 1rem;
  font-family: "Monument Extended";
  color: #fff;
}
.contact-info {
  text-align: center;
  align-items: center;
}

.saying {
  text-align: center;
  font-family: "Monument Extended";
  color: #fff;
}

/* Portfolio & Home Button */
.arrows {
  display: flex;
  justify-content: space-between;
  font-family: "Monument Extended";
}
.left-arrow {
  float: left;
  padding: 0rem 3rem;
}

.right-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  float: right;
  padding: 0rem 3rem;
}

.contact-me {
  display: inline-block;
}

.left-arrow a {
  text-decoration: none;
  color: rgb(220, 216, 226);
}


@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}


@media screen and (max-width: 480px) {
  nav {
    margin: 1rem 1rem;
  }
}

/* For iphone: */
@media screen and (max-width: 320px) {
  nav {
    margin: 1rem 1rem;
  }
}
