@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Monument Extended";
  background: rgb(22, 22, 22);
}

/* Nav */
nav {
  position: sticky;
  top: 0;
  background-color: rgba(128, 126, 126, 0.317);
  backdrop-filter: blur(5px);
  border: 5px solid;
  border-image: 
  linear-gradient(
      #fff,
      #dd2476,
      #3ad4ff) 1;
  animation: rotate 
  2.5s
  ease-in
  infinite;
  border-radius: 15px;
  margin: 1rem 1rem;
  font-family: 'Monument Extended';
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 12px;
  padding: 1rem 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 450;
}

nav a:hover {
  animation: pulsate 1s ease-in-out;
  color: rgb(63, 34, 142);
  transition: 1s;
}

/* Projects */
a:hover {
  background-color: rgb(35, 245, 227);
  color: black;
  cursor: pointer;
}

.project {
  width: min(50vw, 300px);
  font-size: 12px;
  border-radius: 5px;
  transition: 1s;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  min-height: 70vh;
  color: #fff;
}
.project-h1 {
  text-align: center;
  font-size: 2.3rem;
  padding: 2rem;
  color: rgb(255, 255, 255);
}

.project-description {
  font-family: 'Open Sans', sans-serif;
}

.project-image {
  padding: 1rem 1rem;
}

.website-image {
  width: 100%;
  height: auto;
  display: flex;
}

.project {
  text-align: center;
}

/* Challenges */
.challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: .8rem;
  background-color: #fff;
}

.challenge-container {
  display: flex;
  padding: 2rem 1rem;
  font-family: 'Open Sans', sans-serif;
}

.challenge-title {
  flex: 1;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  border: #000 2px solid;
  border-radius: 5px;
  padding: 1rem 5px;
}

.challenge-link {
  border-radius: 5px;
}

.challenge-link:hover {
  color: #000;
}

.challenge-container p {
  text-align: justify;
}

a.challenge-link {
  color: #000;
}

.challenges h1 {
  color: #000;
}

.achievements-h1 {
  font-size: 2.3rem;
}


/* Experience Section */
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  color: white;
}

.description {
  font-family: 'Open Sans', sans-serif;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

button {
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.resume {
  color: black;
}

/* Home Button */
.job {
  margin: 2rem 2rem;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Button */
.arrows {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.contact-me {
  display: inline-block;
}

.arrow {
  display: inline-block;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #fff;
}

.project-container1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.project-container2 {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  nav {
    margin: 1rem 1rem;
  }
}

/* For iphone: */
@media screen and (max-width: 320px) {
  nav {
    margin: 1rem 1rem;
  }
}

/* For ipad: */
@media screen and (max-width: 768px) {
  .project-container1,
  .project-container2,
  .challenge-container {
    display: block;
  }
}
